.profileItem {
  display: grid;
  grid-template-areas:
    ' photo profile profile'
    ' photo info info'
    ' photo post post';
  grid-template-rows: 7rem auto 1fr;
  grid-template-columns: 30% 1fr 1fr;
  grid-gap: 0.8rem;
  width: 100%;
}

.profilePhoto {
  grid-area: photo;
  position: relative;
  font-size: 0.5rem;
  padding: 1.5rem;
  background: whitesmoke;
  border-radius: 0.3rem;
  box-shadow: 0.5rem 0.5rem 1.5rem -1rem black;

  & img {
    width: 100%;
  }
}

.aboutMe {
  grid-area: profile;
  font: 400 1.6rem/1 'Roboto', sans-serif;
  padding: 1.5rem;
  background: whitesmoke;
  border-radius: 0.3rem;
  box-shadow: 0.5rem 0.5rem 1.5rem -1rem black;

  & .profileStatus {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0;

    &:hover {
      background: gainsboro;
    }

    & input {
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
    }
  }
}

.contactPage {
  grid-area: info;
  padding: 1.5rem;
  color: dimgray;
  background: whitesmoke;
  border-radius: 0.3rem;
  box-shadow: 0.5rem 0.5rem 1.5rem -1rem black;

  & div {
    padding: 0 0 0.7rem 0;
    font-size: 0.9rem;
  }

  & span {
    padding-left: 5rem;
    color: black;
    font-size: 1rem;
  }

  & button {
    font: 400 0.8rem/1.2 'Roboto', sans-serif;
  }
}

.postItem {
  grid-area: post;
  padding: 1.5rem;
  font-size: 1.1rem;
  background: whitesmoke;
  border-radius: 0.3rem;
  box-shadow: 0.5rem 0.5rem 1.5rem -1rem black;

  & p {
    margin: 0;
  }
}
