.page {
  padding: 1.5rem;
  font: 400 0.8rem/1.2 'Roboto', sans-serif;

  & .pageNumber {
    padding: 0.2rem 0.3rem;
    margin: 0 0.1rem;
    border: 0.1rem solid gray;
    border-radius: 0.15rem;

    &:hover {
      font-weight: 600;
      background: white;
      border: 0.1rem solid white;
    }

    &.activePage {
      font-weight: 600;
      background: black;
      color: white;
      border: 0.1rem solid black;
    }
  }

  & button {
    font: 400 0.8rem/1.2 'Roboto', sans-serif;
  }
}
