.page {
  padding: 1.5rem;
  font: 400 0.8rem/1 'Roboto', sans-serif;

  & .pageNumber {
    padding: 0.3rem 0.4rem;
    margin: 0 0.1rem;
    border: 0.1rem solid gray;
    border-radius: 0.15rem;

    &:hover {
      background: white;
      border: 0.1rem solid white;
    }

    &.activePage {
      font-size: 0.9rem;
      background: black;
      color: white;
      border: 0.1rem solid black;
    }
  }
}



