.formPage {
  grid-area: info;
  background: gainsboro;
  border-radius: 0.3rem;
  padding: 1.2vw;
  box-shadow: 0.5rem 0.5rem 1.5rem -1rem black;

  & button {
    font: 400 0.5vw/1 'Roboto', sans-serif;
  }
}

label {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 0.2rem;
  font-size: 0.9vw;
}

input[type='text'],
textarea {
  display: block;
  width: 60%;
  padding: 0.2rem;
  font-size: 0.8vw;
  background: #fff;
  border: 1px solid #fff;
}

.formControl {
  margin-top: 0.5vw;
  font: 400 0.5vw/1 'Roboto', sans-serif;
}

.errorControl {
  color: red;
  padding: 0.5rem;
}

.aboutMe {
  padding: 0.5vw;
}