.header {
    background: aliceblue;
    grid-area: head;
    position: fixed;
    width: 100%;
}

.header img {
    width: 50px;
    height: 50px;
    padding: 5px 20px;
}

.loginBlock {
    float: right;
    color: brown;
}