.navbar {
  grid-area: nav;
}

.item {
  width: 20%;
  margin-left: 19vw;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  &:hover {
    background: whitesmoke;
    border-radius: 0.2rem;
  }

  & a {
    font-size: 0.9vw;
    color: dimgray;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
