.profilePhoto img{
    width: 20%;
    padding: 30px;
}
.profileStatus {
    font: 600 20px/1.2 sans-serif;
    padding: 5px 0;
}
.aboutMe {
    font: 400 15px/1.1 sans-serif;
    padding: 5px 30px 0
}
.aboutMeToo {
    padding: 10px 0
}
.aboutContacts {
    padding: 10px 40px 0
}