main {
  display: grid;
  grid-template-areas:
  " header header header"
  " nav main ads"
  " footer footer footer";
  grid-template-rows: 3vw 1fr 3vw;
  grid-template-columns: 25% 1fr 25%;
  grid-row-gap: 0.2vw;
  grid-column-gap: 0.8vw;
  height: 100vh;
}

.content {
  grid-area: main;
  width: 100%;
  height: 100%;
}



