.main {
  display: grid;
  grid-template-areas:
    ' header header header'
    ' nav main ads'
    ' footer footer footer';
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-columns: 25% 1fr 25%;
  grid-gap: 0.8rem;
  min-height: 100vh;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

.content {
  grid-area: main;
  width: 100%;
  height: 100%;
}

.mode {
  position: absolute;
  display: flex;
  top: 1%;
  left: 1%;
  z-index: 10;

  & button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    border: 0;
    border-radius: 0.2rem;
    background-color: var(--theme-color);
    color: var(--theme-page-text);
    cursor: pointer;

    &:active {
      position: relative;
      top: 0.05rem;
      left: 0.05rem;
    }
  }
}
