.app-study {
    display: grid;
    grid-template-areas:
  " head head"
  " nav pro";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-study-content {
    background: darkturquoise;
    grid-area: pro;
}

.app-study-content img {
    width: 70%;
}
