.app-study {
    display: grid;
    grid-template-areas:
  " head head head"
  " nav pro navR";
    grid-template-rows: 65px 1fr;
    grid-template-columns: 3fr 6fr 3fr;
    grid-gap: 2px;
}

.app-study-content {
    background: gainsboro;
    grid-area: pro;
    width: 100%;
}


