.dialogs {
  display: grid;
  grid-template-areas:
    ' dialog message '
    ' dialog message ';
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0.8rem;
}

.dialogs_item {
  grid-area: dialog;
  background: whitesmoke;
  padding: 1.5rem;
  border-radius: 0.3rem;

  & .dialog {
    font: 400 1.1rem/1.2 'Roboto', sans-serif;
    padding: 0.5rem;
    margin: 0.5rem auto;

    &:hover {
      background: gainsboro;
      border-radius: 0.2rem;
      box-shadow: 0.5rem 0.5rem 1.5rem -1rem black;
      transition: all 0.3s ease-in-out;
    }

    & a {
      text-decoration: none;
      color: dimgray;

      &:hover {
        color: black;
      }

      &:active {
        position: relative;
        top: 0.05rem;
        left: 0.05rem;
      }
    }
  }
}

.messages_item {
  grid-area: message;
  background: whitesmoke;
  padding: 1.5rem;
  border-radius: 0.3rem;

  & .message {
    padding: 1rem;
  }
}
