.postItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  padding: 0.5vw;
  font-size: 0.8vw;
  color: black;

  & img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 15px;
  }

  & button {
    font: 400 0.5vw/1 'Roboto', sans-serif;
  }
}
